doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="./assets/vendors/vendor.js")
        link(rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css")
        script(src="./script.js")
    body(ng-app='nightlife')
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand Night Life
        .container-fluid
            .row
                .col-sm-12.col-md-4.col-md-offset-4(ng-controller="MainController as main")
                    .text-center.page-header
                        H3 {{ main.text }}
                    .text-center
                        button.btn.btn-primary(ng-click="main.getLocation()")
                            span.glyphicon.glyphicon-map-marker
                            | &nbsp; Get My Current Location
            .row
                .col-sm-12.col-md-8.col-md-offset-2(ng-controller="ResultsController as resultCtrl")
                    .panel-group(ng-if="resultCtrl.results != []")
                        .panel.panel-default(ng-repeat="business in resultCtrl.results.businesses")
                            .panel-heading
                                h4 {{business.name}}
                            .panel-body
                                img.card-img-top(ng-src="{{business.image_url}}" style="width: 20rem;")
                                p
                                    a.btn.btn-primary(href="#") Going!
                                    a.btn.btn-primary(href="tel:{{business.phone}}") Call {{business.display_phone}}
                                p Price: {{business.price}}
                                p Rating: {{business.rating}} / 5 based on {{ business.review_count }} reviews
                                p
                                    a(href="{{business.url}}") More Info...
                                
                        